*{
    text-align: center;
}

h1{
    text-align: center;
    background-color: beige;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav ul li{
    display: block;
    width: auto;
    padding: 10px 15px;
    color: cornsilk;
    background-color: chartreuse;
}

nav ul li:hover{
    background-color: black;
    color: white;
}


nav ul li a{
    text-decoration: none;
}

div p{
    text-align: left;
    padding-left: 10px;
}

img{
    width: 100%;
    height: 225px;
    
}

.container{
    display: flex;
    justify-content: space-evenly;

}

.container div{
    flex-basis: 20%;
    height: 250px;

    }

.container div img{
    width: 95%;
    height: 100%;
    
}

footer{
    background-color: thistle;
    height: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
}