h1{
    text-align: center;
    background-color: beige;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav ul li{
    display: block;
    width: auto;
    padding: 10px 15px;
    color: cornsilk;
    background-color: chartreuse;
}

nav ul li:hover{
    background-color: black;
    color: white;
}


nav ul li a{
    text-decoration: none;
}

